<h2 class="page-title">Users Settings</h2>
<hr class="divider"> 

<button type="button" (click)="toggleUserForm()">Show/Hide Add New User Form</button>

<div *ngIf="showUserForm">
  <!-- Add your new user form here -->
  <h2 class='content-title'>Add New User</h2>
  <hr class="divider">
  <div class="input-container">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" [(ngModel)]="username" required class="input-long">
    <label for="username">First Name</label>
    <input type="text" id="firstName" name="username" [(ngModel)]="firstName" required class="input-long">
    <label for="username">Last Name</label>
    <input type="text" id="username" name="username" [(ngModel)]="lastName" required class="input-long">
    <label for="username">E-mail Address</label>
    <input type="text" id="username" name="username" [(ngModel)]="emailAddress" required class="input-long">
    <label for="username">Password</label>
    <input type="text" id="username" name="username" [(ngModel)]="password" required class="input-long">
    <label for="username">Re-enter New Password</label>
    <input type="text" id="username" name="username" [(ngModel)]="rePassword" required class="input-long">
    <label for="username">Account Type</label>
    <div class="experiment-dropdown">
      <select id="experiment-select">
        <option value="experiment1">Student</option>
        <option value="experiment2">Professor</option>
        <option value="experiment3">Administrator</option>
      </select>
    </div>
    <label for="username">Choose the experiments this user shall have access to</label>
    <hr class="divider">
    
  </div>
  <hr class="divider">
</div>
</div>

<h2 class='content-title'>Import Users From File</h2>
<hr class="divider"> 

<h2 class='smallcontent-title'>Select a file in the format of: Username, First Name, Last Name, Email, Password, OTP Secret, 1|2 1 = Student, 2 = Admin \n</h2>

<div class="slides-section">
  <div class="file-upload-container">
    <label for="file-upload">User Import File</label>
    <input type="file" id="file-upload" accept=".pdf,.ppt,.pptx" />
    <!-- Additional elements for handling the uploaded file -->
  </div>
</div>

<button type="submit">Import Experiment Users</button>

<h2 class='content-title'>Current Users</h2>
<hr class="divider">
