<h2 class="page-title">Users Settings</h2>
<hr class="divider"> 

<button type="button" (click)="toggleUserForm()">Show/Hide Add New User Form</button>

<div *ngIf="showUserForm">
  <!-- Add your new user form here -->
  <h2 class='content-title'>Add New User</h2>
  <hr class="divider">
  <div class="input-container">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" [(ngModel)]="username" required class="input-long">
    <label for="username">First Name</label>
    <input type="text" id="firstName" name="username" [(ngModel)]="firstName" required class="input-long">
    <label for="username">Last Name</label>
    <input type="text" id="username" name="username" [(ngModel)]="lastName" required class="input-long">
    <label for="username">E-mail Address</label>
    <input type="text" id="username" name="username" [(ngModel)]="emailAddress" required class="input-long">
    <label for="username">Password</label>
    <input type="text" id="username" name="username" [(ngModel)]="password" required class="input-long">
    <label for="username">Re-enter New Password</label>
    <input type="text" id="username" name="username" [(ngModel)]="rePassword" required class="input-long">
    <label for="accountType">Account Type</label>
<div class="experiment-dropdown">
  <select id="accountType" [(ngModel)]="selectedAccountType">
    <option value="Student">Student</option>
    <option value="Professor">Professor</option>
    <option value="Administrator">Administrator</option>
  </select>
</div>
    <label for="experiments">Choose the experiments this user shall have access to</label>
<div class="experiment-checkbox-list">
  <div *ngFor="let experiment of userExperiments" class="experiment-checkbox-item">
    <input type="checkbox" [value]="experiment.id" [checked]="isSelected(experiment.name)" (change)="toggleExperimentSelection(experiment.name)">
    <label>{{ experiment.name }}</label>
  </div>
</div>

    <button type="submitLeft" (click)="addUser()">Add User</button>
    
  </div>
  <hr class="divider">
</div>
</div>

<h2 class="content-title">Import Users From File</h2>
<hr class="divider"> 

<h2 class="smallcontent-title">Select a file in the format of: Username, First Name, Last Name, Email, Password, OTP Secret, 1|2|3 1 = Student, 2 = Admin 3 = Professor \n</h2>

<div class="slides-section">
  <div class="file-upload-container">
    <label for="file-upload">User Import File</label>
    <input type="file" id="file-upload" accept=".csv" (change)="onFileSelected($event)" />
    <!-- Additional elements for handling the uploaded file -->
  </div>
</div>

<button type="button" (click)="onImportUsers()">Import Experiment Users</button>



<div *ngIf="showEditUserForm">
  <!-- Add your new user form here -->
  <h2 class='content-title'>Edit User</h2>
  <hr class="divider">
  <div class="input-container">
  <div class="form-group">
    <div *ngIf="existingUsername" class="error-message">
      Username already exists. Please choose a different username.
    </div>
    <label for="username">Username</label>
    <input type="text" id="username" name="username" [(ngModel)]="editedUser!.username" required class="input-long">
    <label for="username">First Name</label>
    <input type="text" id="firstName" name="username" [(ngModel)]="editedUser!.firstName" required class="input-long">
    <label for="username">Last Name</label>
    <input type="text" id="username" name="username" [(ngModel)]="editedUser!.lastName" required class="input-long">
    <label for="username">E-mail Address</label>
    <input type="text" id="username" name="username" [(ngModel)]="editedUser!.email" required class="input-long">
    <label for="username">Password</label>
    <input type="text" id="username" name="username" [(ngModel)]="editedUser!.password" required class="input-long">
    <label for="username">Re-enter New Password</label>
    <input type="text" id="username" name="username" [(ngModel)]="editedUser!.rePassword" required class="input-long">
    <label for="accountType">Account Type</label>
<div class="experiment-dropdown">
  <select id="accountType" [(ngModel)]="selectedAccountType">
    <option value="Student">Student</option>
    <option value="Professor">Professor</option>
    <option value="Administrator">Administrator</option>
  </select>
</div>
    <label for="experiments">Choose the experiments this user shall have access to</label>
<div class="experiment-checkbox-list">
  <div *ngFor="let experiment of userExperiments" class="experiment-checkbox-item">
    <input type="checkbox" [value]="experiment.name" [checked]="isExperimentAssigned(experiment.name)" (change)="toggleExperimentSelection(experiment.name)">
    <label>{{ experiment.name }}</label>
  </div>
</div>

    <button type="submitLeft" (click)="saveEditedUser(editedUser!.username)">Save User</button>
    
  </div>
  <hr class="divider">
</div>
</div>

<h2 class='content-title'>Current Users</h2>
<div *ngIf="users.length > -1">
  
  <hr class="divider">
  <div class="experiment-header">
    <span>Username</span>
    <span>Name</span>
    <span>Account Type</span>
    <span>E-mail Address</span>
    <span>IP Address </span>
    <span>Created On</span>
    <span>Last Modified</span>
    <span>Registration Status</span>
    <span>Edit User</span>
    <span>Delete User</span>
  </div>

  <hr class="divider">
<div *ngFor="let user of users" class="user-item">
  <div class="user-details">
    <span>{{ user.username }}</span>
    <span>{{ user.name }}</span>
    <span>{{ user.accountType }}</span>
    <span>{{ user.email }}</span>
    <span>{{ user.ipAddress }}</span>
    <span>{{ user.created | date:'medium' }}</span>
    <span>{{ user.lastModified | date:'medium' }}</span>
    <span>{{ user.regStatus }}</span>
    <span><button type="submit" (click)="editUsers(user.username)">Edit</button></span>
    <span><button type="submit" (click)="deleteUser(user.username)">Delete</button></span>
  </div>
  <hr class="divider"> <!-- Add the <hr> tag here, it will be horizontal -->
</div>
</div>

