.page-title {
    margin-top: 100px;
    margin-bottom: 30px;
    margin-left: 10px;
    font-size: 35px;
    font-weight: normal;
    font-family: Proxima Nova, sans-serif;
    color: #AB0520;
}
.add-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.error-message{
    font-size: 16px;
    font-weight: normal;
    font-family: Proxima Nova, sans-serif;
    color: #363636;
}
.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  margin-bottom: 25px; /* Adjust the spacing between the form groups */
}

label {
  font-family: Proxima Nova, sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #686464;
  margin-bottom: 5px; /* Adjust the spacing between the label and input fields */
}

input[type="text"],
input[type="password"] {
  width: 700px; /* Set the width to 100% to fill the available space */
  height: 35px;
}

button[type="submit"] {
  background-color: #AB0520;
  color: white;
  font-family: Proxima Nova, sans-serif;
  font-size: 15px;
  font-weight: normal;
  align-self: flex-start; /* Align the button to the left */
  padding:12px 20px;
  margin-bottom: 30px;
  
}