<h2 class="page-title">Configuration</h2>
<hr class="divider"> 
<h2 class="content-title">Add Experiment</h2>
<hr class="divider"> 
<div class="add-content">
  <form (ngSubmit)="saveExperiment()" #experimentForm="ngForm">
    <div class="form-group">
      <label for="experimentName">Experiment Name</label>
      <input type="text" id="experimentName" name="experimentName" [(ngModel)]="experimentName" required class="input-long">
    </div>
    <div class="form-group">
      <label for="experimentDescription">Experiment Description</label>
      <input type="text" id="experimentDescription" name="experimentDescription" [(ngModel)]="experimentDescription" required class="input-long">
    </div>
    <button type="submit" [disabled]="isSavingExperiment || !experimentForm.valid">Save Experiment</button>
  </form>
  
  
</div>
<h2 class="content-title">Add VM Image</h2>
<hr class="divider"> 
<div class="add-content">
  <form (ngSubmit)="saveVMImage()" #vmImageForm="ngForm">
    <div class="form-group">
      <label for="vmImage">VM UID</label>
      <input type="text" id="vmImageUID" name="vmImageUID" [(ngModel)]="VMImageUID" required class="input-long">
    </div>
    <div class="form-group">
      <label for="vmImageName">VM Name</label>
      <input type="text" id="vmImageName" name="vmImageName" [(ngModel)]="VMImageName" required class="input-long">
    </div>
    <button type="submit" [disabled]="isSavingVMImage || !vmImageForm.valid">Save VM Image</button>
  </form>
    </div>
<h2 class="content-title">Add Vpcs</h2>
    <hr class="divider"> 
    <div class="add-content">
        <form (ngSubmit)="login()" #loginForm="ngForm">
            <div class="form-group">
              <label for="username">AWS Vpc Id</label>
              <input type="text" id="username" name="username" [(ngModel)]="username" required class="input-long">
            </div>
            <div class="form-group">
              <label for="password">CIDR Block</label>
              <input type="password" id="password" name="password" [(ngModel)]="password" required class="input-long">
            </div>
            <div class="form-group">
                <label for="password">Security Group</label>
                <input type="password" id="password" name="password" [(ngModel)]="password" required class="input-long">
              </div>
            
            <button type="submit" [disabled]="!loginForm.valid">Save Vpc</button>
          </form>
        </div>
<h2 class="content-title">Add VM Images to Experiments</h2>
        <hr class="divider"> 
        <div class="add-content">
          <div class="centered-section">
            <div class="experiment-dropdown">
              <label for="experiment-select" class="sr-only">Experiment</label>
              <select id="experiment-select" [(ngModel)]="selectedExperimentId">
                    
                <option *ngFor="let experiment of experiments" [value]="experiment.id">
                  {{ experiment.name }}
                </option>
              </select>
            </div>
            </div>
            <div class="add-content">
              <div class="centered-section">
                <div class="experiment-dropdown">
                  <label for="experiment-select" class="sr-only">VM Image</label>
                  <select id="experiment-select" [(ngModel)]="selectedExperimentId">
                    
                    <option *ngFor="let experiment of experiments" [value]="experiment.id">
                      {{ experiment.name }}
                    </option>
                  </select>
                  
                </div>
                </div>
                <button type="submit" [disabled]="!loginForm.valid">Add Dependency</button>
            </div>
        </div>
<h2 class="content-title">Add VPCs to Experiments</h2>
  <hr class="divider"> 
    <div class="add-content">
      <div class="centered-section">
          <div class="experiment-dropdown">
            <label for="experiment-select" class="sr-only">Experiment</label>
            <select id="experiment-select" [(ngModel)]="selectedExperimentId">
                    
              <option *ngFor="let experiment of experiments" [value]="experiment.id">
                {{ experiment.name }}
              </option>
            </select>
          </div>
      </div>
    
    <div class="add-content">
        <div class="centered-section">
          <div class="experiment-dropdown">
            <label for="experiment-select" class="sr-only">VPCs</label>
              <select id="experiment-select">
                <option value="experiment1">Experiment 1</option>
                <option value="experiment2">Experiment 2</option>
                <option value="experiment3">Experiment 3</option>
              </select>
          </div>
          
        </div>
        <button type="submit" [disabled]="!loginForm.valid">Add Dependency</button>
    </div>
    </div>

    <div *ngIf="experiments.length > -1">
      <h2 class="content-title">Experiments</h2>
      <hr class="divider">
      <div class="experiment-header">
        <span>Experiment Name</span>
        <span>Experiment Description</span>
        <span>Enabled</span>
        <span>Added On</span>
        <span>Last Mod.</span>
        <span>Delete</span>
        <span>Set Users</span>
      </div>
      <hr class="divider">
      <div *ngFor="let experiment of experiments" class="experiment-item">
        <div class="experiment-details">
          <span>{{ experiment.name }}</span>
          <span>{{ experiment.description }}</span>
          <span>{{ experiment.enabled }}</span>
          <span>{{ experiment.addedOn | date:'medium' }}</span>
          <span>{{ experiment.lastModified | date:'medium' }}</span>
          <span><button type="submit" (click)="deleteExperiment(experiment.id)">Delete</button></span>
          <span><button type="submit" (click)="setUsers(experiment.id)">Set Users</button></span>
        </div>
        <hr class="divider"> <!-- Add the <hr> tag here, it will be horizontal -->
      </div>
      
      
    </div>
    

    <div *ngIf="VMImages.length > -1">
      <h2 class="content-title">VM Images</h2>
      <hr class="divider">
      <div class="experiment-header">
        <span>#</span>
        <span>VM Name/Description</span>
        <span>VM UID</span>
        <span>Added On</span>
        <span>Last Modification</span>
        <span>Delete VM Image</span>
      </div>
      <hr class="divider">
      <div *ngFor="let VMImages of VMImages" class="experiment-item">
        <div class="experiment-details">
          <span>{{ VMImages.id }}</span>
          <span>{{ VMImages.name }}</span>
          <span>{{ VMImages.UID }}</span>
          <span>{{ VMImages.added | date:'medium' }}</span>
          <span>{{ VMImages.lastModified | date:'medium' }}</span>
          <span><button type="submit" (click)="deleteVMImages(VMImages.id)">Delete VM Image</button></span>
        </div>
        <hr class="divider"> <!-- Add the <hr> tag here, it will be horizontal -->
      </div>
      
      
    </div> 

<h2 class="content-title">VPCs</h2>
    <hr class="divider"> 

<h2 class="content-title">VM Images to Experiments Dependencies</h2>
    <hr class="divider"> 