
  
  
  <h2 class="page-title">CLaaS Usage Agreement</h2>
  
  <hr class="divider">
  
  <div class="content">
    <!-- Add the text and other sections of the agreement here -->
    <p>Before you can use the CLaaS environment you must read the following agreement in it's entirety and agree to it by pressing on 
        the "Agree" below. The use of the virtual computers/networks provided within this environment (The Cyber Security Lab as a Service website)
        is a priviledge granted to registered members only. When using this account, you are agreeing to: 
    </p>
        <ul>
            <li>Take no actions which violate the University of Arizona Codes of Conduct or Academic Integrity, University of Arizona Classified
                Staff Human Resources Policy Manual, University Handbook for Appointed Personnel, or other applicable policy or law.
            </li>
            <li>Use these resources only for purposes consistent with the University's mission and applicable policy or law. Inappriopriate use includes, 
                but is not limited to
            </li>
            <li class="indented-bullet">Sending harassing messages or in any way harassing other computer users;</li>
            <li class="indented-bullet">Gaining or attempting to gain access to accounts or files without permission on any computer or network system;</li>
            <li class="indented-bullet">Making unauthorized copies or distributing copies without permission of any copyright protected software,
                or other copyrighted or trademarked material, regardless of source;</li>
            <li class="indented-bullet">Taking actions which threaten the security or capacity of computer or network systems outside the virtual environment
                assigned to you, or which destroy, damage, or overload these resources;</li>
            <li class="indented-bullet">Violating any applicable law or policy.</li>

        </ul>
    <p>
        Failure to abide by these policies will result in revocation of your privileges to use the CLaaS computing and network resources as well as possible
        legal action should you violate any laws.
    </p>
      
      
  </div>
  
  <button class="agree-button" (click)="acceptUserAgreement()">Agree</button>
  
  
  


