.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f0f0f0;
    padding: 10px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo-container {
    display: flex;
    align-items: center;
  }
  .logo {
    height: 70px; /* Adjust the height of the image */
    width: auto; /* Maintain the aspect ratio */
    margin-right: 10px; /* Add some margin on the right for spacing */
  }
  
  .logged-in-as {
    margin-left: auto; /* Push the text to the right by using auto margin on the left */
    font-weight: bold;
    font-size: 17px;
    font-weight: normal;
    font-family: Proxima Nova, sans-serif;
    color: #616161;
}
  
  .logged-in-as span {
    font-weight: bold;
    font-size: 17px;
    font-weight: normal;
    font-family: Proxima Nova, sans-serif;
    color: #616161;
    /* Add additional styling for the text if desired */
  }
  .buttons-container {
    display: flex;
    align-items: center;
    margin-right: 50px;
  }
  
  .transparent-button {
    background-color: transparent;
    border: none;
    font-size: 17px;
    font-family: Proxima Nova, sans-serif;
    color: #616161;
    margin-left: 25px;
    cursor: pointer;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-button {
    background-color: transparent;
    border: none;
    color: #616161;
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #111111;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #dbdbdb;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    font-family: Proxima Nova, sans-serif;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  