<ng-container *ngIf="showTaskBar">
  <div class="top-bar">
    <div class="logo-container">
      <img src="assets/SFWE.png" alt="Logo" class="logo">
      <div class="logged-in-as">
        Logged in as: <span>{{ username }}</span>
      </div>
    </div>
    <div class="buttons-container">
      <button class="transparent-button" [routerLink]= "['/home']">Home</button>
      <ng-container *ngIf="userRole === 'Administrator'">
        <div class="dropdown">
          <button class="dropdown-button">Administrator˅</button>
          <div class="dropdown-content">
            <button (click)="configure()">Configuration</button>
            <button (click)="viewUsers()">Users</button>
            <button (click)="viewSlides()">Slides</button>
            <button (click)="experimentUsers()">Experiment Users</button>
            <button (click)="viewLogs()">Logs</button>
            <button (click)="phpInfo()">PHP Info</button>
          </div>
          
        </div>
      </ng-container>
      <ng-container *ngIf="userRole === 'Professor'">
        <div class="dropdown">
          <button class="dropdown-button">Professor˅</button>
          <div class="dropdown-content">
            <button (click)="configure()">Configuration</button>
            <button (click)="viewUsers()">Users</button>
            <button (click)="viewSlides()">Slides</button>
            <button (click)="experimentUsers()">Experiment Users</button>
          </div>
          
        </div>
      </ng-container>
      <div class="dropdown">
        <button class="dropdown-button">Account˅</button>
        <div class="dropdown-content">
          <button (click)=changePassword()>Change Password</button>
          <button (click)="logout()">Log out</button>
        </div>
      </div>
      <button class="transparent-button">Help</button>
    </div>
    
  </div>
</ng-container>

  
