<div class="page-container">
    <h2 class="centered-heading">Welcome to Cybersecurity Labs as a Service (CLaaS)</h2>
    <hr class="divider">
    <div class="middle-section">
      <h3 class="left-heading">CLaaS Overview</h3> <!-- I know there is more to message but I couldn't find the rest of the text.-->
      <p>We will exploit virtual technologies and cloud services to allow students to build any virtual cyberspace, and carry out any cybersecurity experiment. 
        By providing easy to use and available 24/7 monitoring, attack libraries, configurable cybersecurity virtual laboratory, analysis, and vizualization tools,
        students, and trainees will be able to see clearly how cyberattacks are launched, and the vulnerabilities that are exploited. (Read More...)
      </p>
    </div>
    <div class="page-container">
      <hr class="divider">
      <h3 class="left-heading2">Available Experiments</h3>
      <hr class="divider">

      <div class="available-experiments">
        <div *ngFor="let experimentName of getAvailableExperimentNames()" class="experiment-item">
          <div class="experiment-info" (click) = "navigateToExperimentDetails(experimentName)">
            <img src="assets/experimentLogo.png" alt="Experiment Image" class="Experiment-Image">
            <div class="experiment-details">
              <h4 class="experimentName">{{ experimentName }} </h4>
              <p class="experimentDetail">{{ getExperimentDescription(experimentName) }}</p>
            </div>
            <hr class="divider">
          </div>
        </div>
      </div>
      
    </div>
</div>
    
  
  
  


